<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Scenarioo"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.scenarioo.example.e4.appmodel/css/default.css">
         </property>
         <property
               name="appName"
               value="Scenarioo">
         </property>
      </product>
   </extension>
   <extension
         id="scenarioo"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Scenarioo">
         <property
               name="appName"
               value="Scenarioo">
         </property>
      </product>
   </extension>

</plugin>
