<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Scenarioo SwtBot example integration for e4 application">
         <property
               name="appName"
               value="Scenarioo SwtBot example integration for e4 application">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.scenarioo.example.e4.orders.orderselection">
		<with variable="org.eclipse.ui.selection">
    		<iterate ifEmpty="false" operator="or">
      			<instanceof value="org.scenarioo.example.e4.domain.Order">
      			</instanceof>
			</iterate>
		</with>
	  </definition>
      <definition
            id="org.scenarioo.example.e4.orders.positionselection">
		<with variable="org.eclipse.ui.selection">
    		<iterate ifEmpty="false" operator="or">
      			<instanceof value="org.scenarioo.example.e4.domain.Position">
      			</instanceof>
			</iterate>
		</with>
	  </definition>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Scenarioo SwtBot example integration">
         <property
               name="appName"
               value="Scenarioo SwtBot example integration">
         </property>
      </product>
   </extension>
</plugin>
